.App{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}
.btn{
  background: none;
  border: none;
  color: blue;
}
.middle{
  display: flex;
  justify-content: center;
  width: 600px;
}
button{
  background-color: rgb(230, 214, 245);
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}
body{
  background-color: rgb(218, 233, 233);
}